#body
{
	background-color: #333333;
	font-family: 'Russo One', sans-serif;	
	color: white;
	
}

#header
{
	background-color: #1a1a1a;
	width: 210px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: top;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 4px;
	box-shadow: 1px 1px 1px 1px black;
	
}

#main
{
	width: 210px;
	padding-top: 10px;
	padding-bottom: 20px;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
	float: bottom;
	box-shadow: 1px 1px 1px 1px black;
}